altair
pandas
pytz
commonmark
zipp
watchdog
urllib3
tzdata
typing-extensions
tornado
toolz
toml
smmap
six
semver
pyrsistent
pyparsing
pympler
pygments
protobuf
pillow
numpy
MarkupSafe
idna
entrypoints
decorator
click
charset-normalizer
rich
validators
attrs
requests
python-dateutil
pyarrow
packaging
jsonschema
jinja2
gitdb
tzlocal
pydeck
gitpython
blinker
streamlit==1.14.0